@charset "utf-8";
/* CSS Document */

body{color: #000000;}

p{font-size: 14px;}

/*ページの横幅指定*/
#page{
	width: 800px;
	margin: 0 auto;
}

/*3段組レイアウト　portfolioIndexの設定*/
#page .portfolioIndex{
	margin-top: 40px;
}
#page .portfolioIndex:after{
	content: "";
	clear: both;
	display: block;
}
#page .portfolioIndex article{
	width: 240px;
	float: left;
	margin-left: 40px;
}
#page .portfolioIndex article:first-child{
	margin-left: 0;
}
#page .portfolioIndex article h2{
	font-size: 18px;
	margin: 5px 0;
}
#page .portfolioIndex article p{
	margin-top: 0;
	font-size: 12px;
	line-height: 1.5;
}
/*index「お知らせ」にある表の装飾*/
#page .news{
	text-align: right;
	margin-top: 40px;
}
#page .news table{
	width: 100%;
}
#page .news table tr th,
#page .news table tr td{
	font-size: 14px;
	line-height: 1.5;
	border-bottom: 1px dotted #162162;
	padding: 10px 0;
	vertical-align: top;
}
#page .news table tr th{
	white-space: nowrap;
	padding-right: 30px;
}
#page .news table tr td{
	width: 100%;
}

/*ページヘッダー*/
#pageHead{
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0;
}
#pageHead #catchcopy{
	font-size: 12px;
	line-height: 1.5;
	margin-top: 5px;
}

/*ページフッター*/
#pageFoot{
	border-top: solid 1px #162162;
	margin-top: 50px;
}
#copyright small{
	font-size: 12px;
	line-height: 2;
}

/*パンくずリスト*/
.topicPath { font-size: 12px; }

/*ページの先頭へ戻る*/
.pagetop{
	font-size: 12px;
	text-align: right;
	margin-top: 30px;
}
.pagetop a{
	background-image: url(""../art/ico_pagetop.png"");
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 10px;
}

/*グローバルナビ*/
#pageHead .globalNavi{
	border: solid #CCCCCC;
	border-width: 1px 0;
	padding: 10px 0;
}

#pageHead .globalNavi ul{
	margin: 0;
	padding: 0;
}

#pageHead .globalNavi ul:after{
	content: "";
	clear:both;
	display: block;
}

#pageHead .globalNavi ul li{
	list-style: none;
	width: 200px;
	float: left;
	border-left: solid 1px #CCCCCCC;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	line-height: 1.429;
}

#pageHead .globalNavi ul li:first-child{
	border-left: none;
}

#pageHead .globalNavi ul li a{
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 5px 0;
}

#pageHead .globalNavi ul li a:hover,
#pageHead .globalNavi ul li.current a{
	background-color: #F2F2E5;
}

/*見出し*/
.pageTitle{
	font-size: 26px;
	color: #f5f5f5;
	background-color: #04263D;
	padding: 5px 15px;
}

.heading-typeA{
	font-size: 18px;
	color: #4646B9;
	border-bottom: solid 3px #4646B9;
	padding: 5px;
}

.heading-typeB{
	font-size: 16px;
	border-left: solid 5px #35A5A8;
	padding-left: 10px;
}

.heading-typeC{
	font-size: 16px;
	padding-left: 30px;
	
}

/*区切り線・余白*/
.articleHeader{
	border-bottom: dotted 2px #162162;
	margin-bottom: 30px;
}


.float_left{
	float: left;
}
.float_clear{
	clear: left;
}
.float_text_left{
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
}
.float_text_right{
	margin-bottom: 25px;
	margin-right: 10px;
	float: right;
}.float_right {
}
